# mac
.DS_Store

# environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
tmp/

# jupyter notebook
.ipynb_checkpoints

# local analysis artifacts
embeddings/
notebooks/classifier/
notebooks/evaluate_chemCPA/*.pt
scripts/synthetic_transport_map.svg
mutil_gpu.py
*_backup.py

# packaging
.Python
.idea/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# byte-compiled
__pycache__/
*.py[cod]
*$py.class

# results
*result*
logs/
*.csv

# datasets
datasets

# other
tmp_*
tmp/
baselines/
lsf*
.numbers
.vscode
